# Environments
venv/
.venv/
env/
.env/

# Dependencies
node_modules/
dist/
build/
.next/
.serverless/
.pytest_cache/
.coverage
htmlcov/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Metadata
.git/
.github/
.vscode/
.idea/

# Logs, Results & Temp
*.log
*.tmp
# *.txt (Removed to allow requirements.txt)
*.db
*.db-shm
*.db-wal
*.out
playground/
tests/
docs/
examples/
cypress/
engram-client/
engram-client-gui/
assets/
*.mov
*.mp4
*.png
*.jpg
*.jpeg
server_log.txt
2.mov

# Nested dependencies
**/node_modules/
**/__pycache__/
**/.pytest_cache/
**/.venv/
**/env/
